<div class="cover-edit">
    <div class="container">
        <div class="row">
            <h1 class ="font-weight-normal mt-5 mb-5">旅行投稿編集</h1>
        </div>
        <div class="row">
            <%= form_with model: @post, local:true do |f| %>
